@model IEnumerable<Proyecto.Models.Competicion>

@{
    ViewBag.Title = "Competicion";
}

<h2>
    Competicion
</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nbrCompeticion)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TipoCompeticion.nbrTipoCompeticion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioCreador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioModificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nbrCompeticion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCompeticion.nbrTipoCompeticion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioCreador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioModificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModificacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.codCompeticion }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.codCompeticion }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.codCompeticion })
        </td>
    </tr>
}

</table>
