@model Proyecto.Models.EquipoTorneo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EquipoTorneo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.posicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipo.nombreEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipo.nombreEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Torneo.usuarioCreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Torneo.usuarioCreador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1.login)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
