@model Proyecto.Models.AlineacionPartido

@{
    ViewBag.Title = "Eliminar";
}

<h2>Delete</h2>

<h3>Está seguro que desea eliminar esto?</h3>
<div>
    <h4>AlineacionPartido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Partido.codPartido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partido.codPartido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jugador.FuncionarioDeportivo.Persona.nbrPersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jugador.FuncionarioDeportivo.Persona.nbrPersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipo.nombreEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipo.nombreEquipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.usuarioCreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCreador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioModificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioModificador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModificacion)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Ir a la lista", "Index")
        </div>
    }
</div>
