@model Proyecto.Models.AlineacionPartido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlineacionPartido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partido.usuarioCreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partido.usuarioCreador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jugador.usuarioCreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jugador.usuarioCreador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipo.nombreEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipo.nombreEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1.login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
