@model Proyecto.Models.AlineacionPartido

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AlineacionPartido</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.codPartido)

        @Html.HiddenFor(model => model.codPersona)
        @{
            Model.fechaModificacion = DateTime.Now;
            Model.usuarioModificador = HttpContext.Current.User.Identity.Name;
        }
        @Html.HiddenFor(model => model.usuarioCreador)
        @Html.HiddenFor(model => model.usuarioModificador)
        @Html.HiddenFor(model => model.fechaCreacion)
        @Html.HiddenFor(model => model.fechaModificacion)

        <div class="form-group">
            @Html.LabelFor(model => model.codEquipo, "Equipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("codEquipo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.codEquipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Ir a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
