@model IEnumerable<Proyecto.Models.AnotadorPartido>

@{
    ViewBag.Title = "Anotadores en partido";
}

<h2>Anotadores en partido</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Partido.codPartido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jugador.FuncionarioDeportivo.Persona.nbrPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minuto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioCreador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioModificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>


        <td>
            @Html.DisplayFor(modelItem => item.Partido.codPartido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jugador.FuncionarioDeportivo.Persona.nbrPersona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minuto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.usuarioCreador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioModificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModificacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { item.codPartido, item.codPersona, item.minuto}) |
            @Html.ActionLink("Detalles", "Details", new { item.codPartido, item.codPersona, item.minuto }) |
            @Html.ActionLink("Eliminar", "Delete", new { item.codPartido, item.codPersona, item.minuto })
        </td>
    </tr>
}

</table>
