@model Proyecto.Models.Fecha

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Fecha</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.codTorneo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codTorneo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fecha1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha1)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.usuarioCreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCreador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioModificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioModificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.codFecha }) |
    @Html.ActionLink("Ir a la lista", "Index")
</p>
