@model IEnumerable<Proyecto.Models.TablaGeneral_Result>

@{
    ViewBag.Title = "Tabla General";
}

<h2>Tabla General</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nbrEquipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pjugados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pganados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pperdidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pempatados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gfavor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gcontra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ptotales)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.nbrEquipo)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.pjugados)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.pganados)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.pperdidos)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.pempatados)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.gfavor)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.gcontra)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.ptotales)
            </td>
        </tr>
    }
</table>
