@model IEnumerable<Proyecto.Models.DatosJugador_Result>

@{
    ViewBag.Title = "Datos del Jugador";
}

<h2>Datos del Jugador</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Equipo)
        </th>
        <th>
            Fecha de contratacion
        </th>
        <th>
            Fecha de baja
        </th>
        <th>
            Nombre de la competicion
        </th>
        <th>
            Tipo de la competicion
        </th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_contratacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_baja)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.Nombre_competicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.Tipo_competicion)
        </td>
    </tr>
    }

</table>