@model IEnumerable<Proyecto.Models.TablaGeneral_Result>

@{
    ViewBag.Title = "Tabla General";
}

<h2>Tabla General</h2>

<table class="table">
    <tr>
        <th>
            Nombre de Equipos
        </th>
        <th>
            Partidos Jugados
        </th>
        <th>
            Partidos Ganados
        </th>
        <th>
            Partidos Perdidos
        </th>
        <th>
            Partidos Empatados
        </th>
        <th>
            Goles a favor
        </th>
        <th>
            Goles en contra
        </th>
        <th>
            Puntos Totales
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.nbrEquipo)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.pjugados)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.pganados)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.pperdidos)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.pempatados)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.gfavor)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.gcontra)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.ptotales)
            </td>
        </tr>
    }
</table>
