@model Proyecto.Models.Partido

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Partido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha.codFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha.codFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipo.nombreEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipo.nombreEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipo1.nombreEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipo1.nombreEquipo)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.golesEquipo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.golesEquipo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.golesEquipo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.golesEquipo2)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.usuarioCreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCreador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioModificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioModificador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModificacion)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.codPartido }) |
    @Html.ActionLink("Ir a la lista", "Index")
</p>
