@model IEnumerable<Proyecto.Models.Partido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.golesEquipo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.golesEquipo2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipo.nombreEquipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipo1.nombreEquipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha.usuarioCreador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1.login)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.golesEquipo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.golesEquipo2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo.nombreEquipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo1.nombreEquipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha.usuarioCreador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1.login)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codPartido }) |
            @Html.ActionLink("Details", "Details", new { id=item.codPartido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codPartido })
        </td>
    </tr>
}

</table>
